<div class="chat h-100">
  <div class="header center-align">
    <h2>Tim Berners Lee</h2>
  </div>
  <div class="window scroll-y-overflow">
    <div class="window-wrap ">
      <div class="sent">
        <div class="text">
          <p>Which of us ever undertake lab. physical exercise expet some advantage from it</p>
        </div>
        <div class="time">14:21</div>
      </div>
      <div class="received">
        <div class="text">
          <p>Which of us ever undertake lab. physical exercise expet some advantage from it</p>
        </div>
        <div class="time">14:21</div>
      </div>
      <div class="sent">
        <div class="text">
          <p>Which of us ever undertake lab. physical exercise expet some advantage from it</p>
        </div>
        <div class="time">14:21</div>
      </div>
      <div class="received">
        <div class="text">
          <p>Which of us ever undertake lab. physical exercise expet some advantage from it</p>
        </div>
        <div class="time">14:21</div>
      </div>
      <div class="sent">
        <div class="text">
          <p>Which of us ever undertake lab. physical exercise expet some advantage from it</p>
        </div>
        <div class="time">14:21</div>
      </div>
      <div class="received">
        <div class="text">
          <p>Which of us ever undertake lab. physical exercise expet some advantage from it</p>
        </div>
        <div class="time">14:21</div>
      </div>
      <div class="sent">
        <div class="text">
          <p>Which of us ever undertake lab. physical exercise expet some advantage from it</p>
        </div>
        <div class="time">14:21</div>
      </div>
      <div class="received">
        <div class="text">
          <p>Which of us ever undertake lab. physical exercise expet some advantage from it</p>
        </div>
        <div class="time">14:21</div>
      </div>
      <div class="sent">
      <div class="text">
        <p>Which of us ever undertake lab. physical exercise expet some advantage from it</p>
      </div>
      <div class="time">14:21</div>
    </div>
      <div class="received">
        <div class="text">
          <p>Which of us ever undertake lab. physical exercise expet some advantage from it</p>
        </div>
        <div class="time">14:21</div>
      </div>
      <div class="sent">
        <div class="text">
          <p>Which of us ever undertake lab. physical exercise expet some advantage from it</p>
        </div>
        <div class="time">14:21</div>
      </div>
      <div class="sent">
        <div class="text">
          <p>Which of us ever undertake lab. physical exercise expet some advantage from it</p>
        </div>
        <div class="time">14:21</div>
      </div>
      <div class="sent">
        <div class="text">
          <p>Which of us ever undertake lab. physical exercise expet some advantage from it</p>
        </div>
        <div class="time">14:21</div>
      </div>
    </div>
  </div>
  <div class="message-input">
    <form>
      <div class="input-field col m10">
        <textarea id="message" class="materialize-textarea"></textarea>
        <label for="message">Type..</label>

      </div>
      <div class="input-field col m2 right-align">
        <button class="btn-floating btn-large waves-effect darken-3" type="submit" name="action">
          <i class="material-icons center font-small">send</i>
        </button>
      </div>
    </form>
  </div>
</div>
