<div class="messages h-100">
  <div class="header center-align">
    <h2 class="font-regular">Chat</h2>
  </div>
  <div class="message-list  scroll-y-overflow">
    <div class="message-list-wrap">

      <div class="message-item" *ngFor="let msg of messages">
        <div class="sender-pic">
          <img [src]="msg.sender.picture" class="sender-pic">
        </div>
        <div class="sender">
          <strong>{{msg.sender.name}}</strong>
          <span>{{msg.message.text}}</span>
        </div>
        <div class="time">
          <span>{{calTime(msg.message.time)}}</span>
        </div>
      </div>

    </div>
  </div>

</div>



